.vscode/launch.json
.vscode/settings.json
__pycache__/config.cpython-36.pyc
__pycache__/config.cpython-37.pyc
__pycache__/etl.cpython-36.pyc
__pycache__/etl.cpython-37.pyc
env/
build/
.env

tests/__pycache__/test_config.cpython-37.pyc
__pycache__/main.cpython-37.pyc
testing.py
build/
build/PyETL/EXE-00.toc
build/PyETL/PYZ-00.toc
build/PyETL/EXE-00.toc
build/PyETL/EXE-00.toc
build/PyETL/PYZ-00.toc
build/PyETL/PYZ-00.toc
build/PyETL/EXE-00.toc
build/PyETL/EXE-00.toc
build/PyETL/PKG-00.pkg
build/PyETL/PKG-00.toc
build/PyETL/PYZ-00.pyz
build/PyETL/PYZ-00.toc
build/PyETL/warn-PyETL.txt
data/temp/
